<a href="https://colab.research.google.com/github/InwARMSelviAXE/bsc_dpdm22/blob/main/%5Bdataprep1%5Dproperty_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [189]:
link = 'https://docs.google.com/spreadsheets/d/1xOUyJLF4NZTDkYCDTIj5bCuumi6d5ZnQT7-e7LpEe4o/export?format=xlsx'
house = pd.read_excel(link,sheet_name='บ้าน')
land = pd.read_excel(link,sheet_name='ที่ดิน')
condo = pd.read_excel(link,sheet_name='คอนโด')
townhome = pd.read_excel(link,sheet_name='ทาวน์โฮม')
commercial = pd.read_excel(link,sheet_name='อาคารพาณิชย์')

In [4]:
house

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [5]:
est1 = house[house['ID ผู้ประเมิน']==1]
est1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1211,1,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,550000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1213,1,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,700000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [6]:
est1.describe()

       ID ผู้ประเมิน    ราคาทรัพย์  ประเมินราคาซื้อ-ขาย
count          610.0  6.100000e+02         6.090000e+02
mean             1.0  3.382782e+06         3.240345e+06
std              0.0  5.000758e+06         4.692873e+06
min              1.0  2.600000e+05         2.200000e+05
25%              1.0  1.492500e+06         1.500000e+06
50%              1.0  2.540000e+06         2.500000e+06
75%              1.0  4.000000e+06         4.000000e+06
max              1.0  1.039350e+08         1.000000e+08

In [7]:
est2 = house[house['ID ผู้ประเมิน']==2]
est2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1210,2,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,300000.0,ราคาเสนอขาย 2-3 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1212,2,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,500000.0,ราคาเสนอขาย 4-6 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1214,2,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,300000.0,ราคาเสนอขาย 1-2 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [8]:
est2.describe()

       ID ผู้ประเมิน    ราคาทรัพย์  ประเมินราคาซื้อ-ขาย
count          610.0  6.100000e+02         4.980000e+02
mean             2.0  3.369097e+06         3.449197e+06
std              0.0  4.975575e+06         4.381048e+06
min              2.0  2.600000e+05         2.500000e+05
25%              2.0  1.467500e+06         1.892500e+06
50%              2.0  2.530000e+06         2.600000e+06
75%              2.0  4.067500e+06         4.200000e+06
max              2.0  1.039350e+08         8.000000e+07

In [9]:
est1h = est1[['ID ผู้ประเมิน', 'ราคาทรัพย์', 'ประเมินราคาซื้อ-ขาย', 'ความมั่นใจในการเมินราคาทรัพย์', 'ให้คะแนนทรัพย์']]
est1h.count().reset_index()

                           index    0
0                  ID ผู้ประเมิน  610
1                     ราคาทรัพย์  610
2            ประเมินราคาซื้อ-ขาย  609
3  ความมั่นใจในการเมินราคาทรัพย์  610
4                 ให้คะแนนทรัพย์  610

In [10]:
est1g = est1[est1['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ']
est1g

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1211,1,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,550000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1213,1,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,700000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [11]:
est1b = est1[est1['ความมั่นใจในการเมินราคาทรัพย์']=='ไม่มั่นใจ']
est1b

Empty DataFrame
Columns: [ID ผู้ประเมิน, post id, property_type, ความมั่นใจในการเมินราคาทรัพย์, ราคาทรัพย์, ประเมินราคาซื้อ-ขาย, ปัจจัยในการประเมินราคาซื้อ-ขาย, เหตุผลไม่มั่นใจราคาประเมิน, ให้คะแนนทรัพย์]
Index: []

In [12]:
est2h = est2[['ID ผู้ประเมิน', 'ราคาทรัพย์', 'ประเมินราคาซื้อ-ขาย', 'ความมั่นใจในการเมินราคาทรัพย์', 'ให้คะแนนทรัพย์']]
est2h.count().reset_index()

                           index    0
0                  ID ผู้ประเมิน  610
1                     ราคาทรัพย์  610
2            ประเมินราคาซื้อ-ขาย  498
3  ความมั่นใจในการเมินราคาทรัพย์  610
4                 ให้คะแนนทรัพย์  499

In [13]:
est2g = est2[est2['ความมั่นใจในการเมินราคาทรัพย์']=='มั่นใจ']
est2g

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1210,2,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,300000.0,ราคาเสนอขาย 2-3 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1212,2,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,500000.0,ราคาเสนอขาย 4-6 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1214,2,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,300000.0,ราคาเสนอขาย 1-2 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [14]:
est2b = est2[est2['ความมั่นใจในการเมินราคาทรัพย์']=='ไม่มั่นใจ']
est2b

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
176,2,https://nayoo.co/khonkaen/posts/18633,บ้านเดี่ยว,ไม่มั่นใจ,5000000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
205,2,https://nayoo.co/khonkaen/posts/38,บ้านเดี่ยว,ไม่มั่นใจ,650000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
209,2,https://nayoo.co/khonkaen/posts/491,บ้านเดี่ยว,ไม่มั่นใจ,3740000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
215,2,https://nayoo.co/khonkaen/posts/508,บ้านเดี่ยว,ไม่มั่นใจ,3061000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
217,2,https://nayoo.co/khonkaen/posts/509,บ้านเดี่ยว,ไม่มั่นใจ,1283000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
...,...,...,...,...,...,...,...,...,...
1161,2,https://nayoo.co/khonkaen/posts/6103,บ้านเดี่ยว,ไม่มั่นใจ,1900000,NaN,NaN,ข้อมูลทรัพย์ไม่เพียงพอ,NaN
1167,2,https://nayoo.co/khonkaen/posts/6107,บ้านเดี่ยว,ไม่มั่นใจ,1619000,NaN,NaN,ข้อมูลทรัพย์ไม่เพียงพอ,NaN
1179,2,https://nayoo.co/khonkaen/posts/6117,บ้านเดี่ยว,ไม่มั่นใจ,570000,NaN,NaN,ข้อมูลทรัพย์ไม่เพียงพอ,NaN
1199,2,https://nayoo.co/khonkaen/posts/6261,บ้านเดี่ยว,ไม่มั่นใจ,620000,NaN,NaN,ข้อมูลทรัพย์ผิด,NaN
1208,2,https://nayoo.co/khonkaen/posts/6242,บ้านเดี่ยว,ไม่มั่นใจ,930000,NaN,NaN,ข้อมูลทรัพย์ไม่เพียงพอ,NaN

In [15]:
est2b = est2[est2['ให้คะแนนทรัพย์']=='3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน']
est2b.count()

ID ผู้ประเมิน                     367
post id                           367
property_type                     367
ความมั่นใจในการเมินราคาทรัพย์     367
ราคาทรัพย์                        367
ประเมินราคาซื้อ-ขาย               366
ปัจจัยในการประเมินราคาซื้อ-ขาย    367
เหตุผลไม่มั่นใจราคาประเมิน          1
ให้คะแนนทรัพย์                    367
dtype: int64

In [16]:
est1e = est1['ให้คะแนนทรัพย์'].value_counts()
est1e

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     476
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    126
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน        6
1 ขายไม่ได้แน่นอน                       2
Name: ให้คะแนนทรัพย์, dtype: int64

In [17]:
est2e = est2['ให้คะแนนทรัพย์'].value_counts()
est2e

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     367
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      117
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     14
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน       1
Name: ให้คะแนนทรัพย์, dtype: int64

# เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนของราคาตั้งขาย

# บ้าน

In [238]:
house

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [239]:
est1 = house[house['ID ผู้ประเมิน']==1]
est1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1211,1,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,550000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1213,1,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,700000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [240]:
est2 = house[house['ID ผู้ประเมิน']==2]
est2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1210,2,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,300000.0,ราคาเสนอขาย 2-3 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1212,2,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,500000.0,ราคาเสนอขาย 4-6 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1214,2,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,300000.0,ราคาเสนอขาย 1-2 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [241]:
est1_nodup = est1.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_nodup = est2.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [242]:
est2['ประเมิน1'] = est2_nodup['post id'].map(est1_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
est2

<ipython-input-242-ebf9b8b1949a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2['ประเมิน1'] = est2_nodup['post id'].map(est1_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,2500000.0
...,...,...,...,...,...,...,...,...,...,...
1210,2,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,300000.0,ราคาเสนอขาย 2-3 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,550000.0
1212,2,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,500000.0,ราคาเสนอขาย 4-6 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,700000.0
1214,2,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,300000.0,ราคาเสนอขาย 1-2 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,500000.0
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,600000.0
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,750000.0

In [243]:
est2['ประเมิน2'] = est2_nodup['post id'].map(est2_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
est2

<ipython-input-243-9c05a513301d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2['ประเมิน2'] = est2_nodup['post id'].map(est2_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,ประเมิน1,ประเมิน2
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,2500000.0,2700000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,2200000.0,2400000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,5000000.0,9000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3500000.0,3700000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,2500000.0,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...
1210,2,https://nayoo.co/khonkaen/posts/6255,บ้านเดี่ยว,มั่นใจ,260000,300000.0,ราคาเสนอขาย 2-3 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,550000.0,300000.0
1212,2,https://nayoo.co/khonkaen/posts/6256,บ้านเดี่ยว,มั่นใจ,610000,500000.0,ราคาเสนอขาย 4-6 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,700000.0,500000.0
1214,2,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,300000.0,ราคาเสนอขาย 1-2 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,500000.0,300000.0
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,600000.0,500000.0
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,750000.0,700000.0

In [244]:
house1 = est2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
house1

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25     2890000  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33     2600000  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495     6050000  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564     4400000  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566     2750000  2500000.0  2500000.0
...                                    ...         ...        ...        ...
1210  https://nayoo.co/khonkaen/posts/6255      260000   550000.0   300000.0
1212  https://nayoo.co/khonkaen/posts/6256      610000   700000.0   500000.0
1214  https://nayoo.co/khonkaen/posts/6257      295000   500000.0   300000.0
1216  https://nayoo.co/khonkaen/posts/6258      615000   600000.0   500000.0
1218  https://nayoo.co/khonkaen/posts/6260      620000   750000.0   700000.0

[610 rows x 4 columns]

In [234]:
house1.fillna(value={'ประเมิน1':est2['ประเมิน1'].mean()})

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25     2890000  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33     2600000  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495     6050000  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564     4400000  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566     2750000  2500000.0  2500000.0
...                                    ...         ...        ...        ...
1210  https://nayoo.co/khonkaen/posts/6255      260000   550000.0   300000.0
1212  https://nayoo.co/khonkaen/posts/6256      610000   700000.0   500000.0
1214  https://nayoo.co/khonkaen/posts/6257      295000   500000.0   300000.0
1216  https://nayoo.co/khonkaen/posts/6258      615000   600000.0   500000.0
1218  https://nayoo.co/khonkaen/posts/6260      620000   750000.0   700000.0

[610 rows x 4 columns]

In [235]:
house1.fillna(value={'ประเมิน2':est2['ประเมิน2'].mean()})

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25     2890000  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33     2600000  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495     6050000  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564     4400000  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566     2750000  2500000.0  2500000.0
...                                    ...         ...        ...        ...
1210  https://nayoo.co/khonkaen/posts/6255      260000   550000.0   300000.0
1212  https://nayoo.co/khonkaen/posts/6256      610000   700000.0   500000.0
1214  https://nayoo.co/khonkaen/posts/6257      295000   500000.0   300000.0
1216  https://nayoo.co/khonkaen/posts/6258      615000   600000.0   500000.0
1218  https://nayoo.co/khonkaen/posts/6260      620000   750000.0   700000.0

[610 rows x 4 columns]

In [245]:
house1.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1       True
ประเมิน2       True
dtype: bool

In [249]:
house1.fillna(0, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [250]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [251]:
a = house1['ราคาทรัพย์']
aby1 = house1['ประเมิน1']
aby2 = house1['ประเมิน2']

In [252]:
mape(a,aby1)
print(f'ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(a,aby1)}')

ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.3074872622604611

In [253]:
mape(a,aby2)
print(f'ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(a,aby2)}')

ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.41180714785238864

In [254]:
mape(aby1,aby2)
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mape(aby1,aby2)}')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 7.330531262321582e+20

# ที่ดิน

In [255]:
land

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2200000.0,10000-22000,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
...,...,...,...,...,...,...,...,...,...
205,1,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2000000.0,"500-15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
207,1,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"500-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
209,1,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2500000.0,"1,000-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [256]:
land.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย                True
ปัจจัยในการประเมินราคาซื้อ-ขาย     True
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                     True
dtype: bool

In [257]:
est1_land = land[land['ID ผู้ประเมิน']==1]
est1_land

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,18000000.0,"8,000-35,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,35000000.0,"15,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2200000.0,"10,000-20,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
201,1,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"800-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
203,1,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,500000.0,"3,000-25,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
205,1,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2000000.0,"500-15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
207,1,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"500-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
209,1,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2500000.0,"1,000-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [258]:
est2_land = land[land['ID ผู้ประเมิน']==2]
est2_land

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [259]:
est1land_nodup = est1_land.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2land_nodup = est2_land.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [260]:
est2_land['ประเมิน1']  = est2land_nodup['post id'].map(est1land_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_land

<ipython-input-260-c202b53885d8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_land['ประเมิน1']  = est2land_nodup['post id'].map(est1land_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,1800000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,8000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,18000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,35000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,2200000.0
...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,500000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2000000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2500000.0

In [261]:
est2_land['ประเมิน2']  = est2land_nodup['post id'].map(est2land_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_land

<ipython-input-261-587e30acfc18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_land['ประเมิน2']  = est2land_nodup['post id'].map(est2land_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,ประเมิน1,ประเมิน2
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,1800000.0,2000000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,8000000.0,12000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,18000000.0,70000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,35000000.0,60000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,2200000.0,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,4000000.0,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,500000.0,750000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2000000.0,2500000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,1500000.0,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2500000.0,2800000.0

In [262]:
land1 = est2_land[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
land1

                                   post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/1033     2800000   1800000.0   2000000.0
4     https://nayoo.co/khonkaen/posts/1711    14900000   8000000.0  12000000.0
7     https://nayoo.co/khonkaen/posts/1726    90000000  18000000.0  70000000.0
10    https://nayoo.co/khonkaen/posts/1732    65000000  35000000.0  60000000.0
13    https://nayoo.co/khonkaen/posts/1866     3000000   2200000.0   2500000.0
..                                     ...         ...         ...         ...
200  https://nayoo.co/khonkaen/posts/14539     5000000   4000000.0   4000000.0
202  https://nayoo.co/khonkaen/posts/16072      750000    500000.0    750000.0
204  https://nayoo.co/khonkaen/posts/17093     2650000   2000000.0   2500000.0
206  https://nayoo.co/khonkaen/posts/17112     1300000   1500000.0   1500000.0
208  https://nayoo.co/khonkaen/posts/17145     3000000   2500000.0   2800000.0

[100 rows x 4 columns]

In [263]:
land1 = land1.fillna(value={'ประเมิน1':est2_land['ประเมิน1'].mean()})
land1

                                   post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/1033     2800000   1800000.0   2000000.0
4     https://nayoo.co/khonkaen/posts/1711    14900000   8000000.0  12000000.0
7     https://nayoo.co/khonkaen/posts/1726    90000000  18000000.0  70000000.0
10    https://nayoo.co/khonkaen/posts/1732    65000000  35000000.0  60000000.0
13    https://nayoo.co/khonkaen/posts/1866     3000000   2200000.0   2500000.0
..                                     ...         ...         ...         ...
200  https://nayoo.co/khonkaen/posts/14539     5000000   4000000.0   4000000.0
202  https://nayoo.co/khonkaen/posts/16072      750000    500000.0    750000.0
204  https://nayoo.co/khonkaen/posts/17093     2650000   2000000.0   2500000.0
206  https://nayoo.co/khonkaen/posts/17112     1300000   1500000.0   1500000.0
208  https://nayoo.co/khonkaen/posts/17145     3000000   2500000.0   2800000.0

[100 rows x 4 columns]

In [264]:
land1 = land1.fillna(value={'ประเมิน2':est2_land['ประเมิน2'].mean()})
land1

                                   post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/1033     2800000   1800000.0   2000000.0
4     https://nayoo.co/khonkaen/posts/1711    14900000   8000000.0  12000000.0
7     https://nayoo.co/khonkaen/posts/1726    90000000  18000000.0  70000000.0
10    https://nayoo.co/khonkaen/posts/1732    65000000  35000000.0  60000000.0
13    https://nayoo.co/khonkaen/posts/1866     3000000   2200000.0   2500000.0
..                                     ...         ...         ...         ...
200  https://nayoo.co/khonkaen/posts/14539     5000000   4000000.0   4000000.0
202  https://nayoo.co/khonkaen/posts/16072      750000    500000.0    750000.0
204  https://nayoo.co/khonkaen/posts/17093     2650000   2000000.0   2500000.0
206  https://nayoo.co/khonkaen/posts/17112     1300000   1500000.0   1500000.0
208  https://nayoo.co/khonkaen/posts/17145     3000000   2500000.0   2800000.0

[100 rows x 4 columns]

In [265]:
land1.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [266]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [267]:
r = land1['ราคาทรัพย์']
rby1 = land1['ประเมิน1']
rby2 = land1['ประเมิน2']

In [268]:
mape(r,rby1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(r,rby1)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.5083212151725603

In [269]:
mape(r,rby2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(r,rby2)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.537436567717275

In [270]:
mape(rby1,rby2)
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mape(rby1,rby2)}')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.7409700513455831

# คอนโด

In [271]:
condo

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,1395.0,คอนโด,มั่นใจ,1600000,2300000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,1443.0,คอนโด,มั่นใจ,1860000,1800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
5,1,1609.0,คอนโด,มั่นใจ,1490000,1500000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
6,1,1640.0,คอนโด,มั่นใจ,1280000,1600000.0,"30,000-70,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
7,1,1641.0,คอนโด,มั่นใจ,4290000,2700000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน
8,1,1650.0,คอนโด,มั่นใจ,1700000,1550000.0,"30,000-70,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
9,1,1840.0,คอนโด,มั่นใจ,3790000,2800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [272]:
condo.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย               False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                    False
Unnamed: 9                        False
Unnamed: 10                       False
dtype: bool

In [273]:
condo.fillna(0, inplace=True)

In [274]:
condo.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย               False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน        False
ให้คะแนนทรัพย์                    False
Unnamed: 9                        False
Unnamed: 10                       False
dtype: bool

In [275]:
condo['ประเมิน1'] = condo['ประเมินราคาซื้อ-ขาย']

In [276]:
cmape = condo[['post id','ราคาทรัพย์','ประเมิน1']]
cmape

   post id  ราคาทรัพย์   ประเมิน1
0     32.0     3500000  3500000.0
1     36.0     1930000  2200000.0
2    603.0     2438000  2800000.0
3   1395.0     1600000  2300000.0
4   1443.0     1860000  1800000.0
5   1609.0     1490000  1500000.0
6   1640.0     1280000  1600000.0
7   1641.0     4290000  2700000.0
8   1650.0     1700000  1550000.0
9   1840.0     3790000  2800000.0

In [277]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [278]:
c = cmape['ราคาทรัพย์']
cby1 = cmape['ประเมิน1']

In [279]:
mape(c,cby1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(c,cby1)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.17349265946250259

# ทาวน์โฮม

In [376]:
townhome

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,2520000,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1105000,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1440000,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [377]:
townhome.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย               False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                    False
Unnamed: 9                         True
Unnamed: 10                        True
Unnamed: 11                        True
Unnamed: 12                        True
dtype: bool

In [378]:
est1_t = townhome[townhome['ID ผู้ประเมิน']==1]
est1_t

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,2520000,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,544000,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1105000,1000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
126,1,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1440000,1500000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
127,1,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
128,1,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
129,1,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000,1700000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [379]:
est2_t = townhome[townhome['ID ผู้ประเมิน']==2]
est2_t

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,2520000,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,544000,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1105000,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1440000,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [380]:
est1townhome_nodup = est1_t.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2townhome_nodup = est2_t.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [381]:
est2_t['ประเมิน1']  = est2townhome_nodup['post id'].map(est1townhome_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_t

<ipython-input-381-ff1decabbbef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_t['ประเมิน1']  = est2townhome_nodup['post id'].map(est1townhome_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,2520000,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,544000,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1105000,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1440000,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [382]:
est2_t['ประเมิน2']  = est2townhome_nodup['post id'].map(est2townhome_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_t

<ipython-input-382-73361dfd1888>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_t['ประเมิน2']  = est2townhome_nodup['post id'].map(est2townhome_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1,ประเมิน2
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0,1500000.0
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN,700000.0,1500000.0
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,2520000,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0,4000000.0
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0,3200000.0
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,544000,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0,800000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1105000,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0,1200000.0
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1440000,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0,1700000.0
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0,1900000.0
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1600000.0,1700000.0
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,NaN

In [383]:
townhome1 = est2_t[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
townhome1

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548     1045000   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549      935000   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579     2520000  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580     3850000  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582      544000  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547     1105000  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551     1440000  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434     2000000  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501     1790000  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367     1590000        NaN        NaN

[120 rows x 4 columns]

In [384]:
townhome1 = townhome1.fillna(value={'ประเมิน1':est2_t['ประเมิน1'].mean()})
townhome1

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548     1045000   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549      935000   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579     2520000  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580     3850000  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582      544000  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547     1105000  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551     1440000  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434     2000000  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501     1790000  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367     1590000  1851562.5        NaN

[120 rows x 4 columns]

In [385]:
townhome1 = townhome1.fillna(value={'ประเมิน2':est2_t['ประเมิน2'].mean()})
townhome1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2
1,https://nayoo.co/khonkaen/posts/548,1045000,700000.0,1.500000e+06
3,https://nayoo.co/khonkaen/posts/549,935000,700000.0,1.500000e+06
5,https://nayoo.co/khonkaen/posts/579,2520000,3500000.0,4.000000e+06
7,https://nayoo.co/khonkaen/posts/580,3850000,3500000.0,3.200000e+06
9,https://nayoo.co/khonkaen/posts/582,544000,1000000.0,8.000000e+05
...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1105000,1000000.0,1.200000e+06
236,https://nayoo.co/khonkaen/posts/18551,1440000,1500000.0,1.700000e+06
237,https://nayoo.co/khonkaen/posts/19434,2000000,1600000.0,1.900000e+06
238,https://nayoo.co/khonkaen/posts/19501,1790000,1600000.0,1.700000e+06
239,https://nayoo.co/khonkaen/posts/20367,1590000,1851562.5,1.839307e+06

In [386]:
townhome1.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [387]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [388]:
m = townhome1['ราคาทรัพย์']
mby1 = townhome1['ประเมิน1']
mby2 = townhome1['ประเมิน2']

In [389]:
mape(m,mby1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(m,mby1)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.14843691923458735

In [390]:
mape(m,mby2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(m,mby2)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.1317454984379317

In [391]:
mape(mby1,mby2)
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mape(mby1,mby2)}')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.10011592783087957

# อาคารพาณิชย์/สำนักงาน

In [298]:
commercial

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
...,...,...,...,...,...,...,...,...,...
195,2,https://nayoo.co/khonkaen/posts/7439,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,6900000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
196,1,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000,1500000.0,"3,000-120,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
197,2,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,12000000,NaN,NaN,ไม่มีฐานข้อมูล,NaN
198,1,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2500000.0,"3,000-80,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
199,2,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2000000.0,ราคาเสนอขาย 2.0-2.2ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [299]:
commercial.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย                True
ปัจจัยในการประเมินราคาซื้อ-ขาย     True
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                     True
dtype: bool

In [300]:
est1_com = commercial[commercial['ID ผู้ประเมิน']==1]
est1_com

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
...,...,...,...,...,...,...,...,...,...
190,1,https://nayoo.co/khonkaen/posts/7137,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,3600000.0,"3,000-50,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
192,1,https://nayoo.co/khonkaen/posts/7138,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4500000,2300000.0,"3,000-40,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
194,1,https://nayoo.co/khonkaen/posts/7439,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6900000,3300000.0,"3,000-80,000 บาท/ตารางวา",NaN,1 ขายไม่ได้แน่นอน
196,1,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000,1500000.0,"3,000-120,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
198,1,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2500000.0,"3,000-80,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [301]:
est2_com = commercial[commercial['ID ผู้ประเมิน']==2]
est2_com

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
...,...,...,...,...,...,...,...,...,...
191,2,https://nayoo.co/khonkaen/posts/7137,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,4000000.0,ราคาเสนอขาย 3.9-4.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
193,2,https://nayoo.co/khonkaen/posts/7138,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,4500000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
195,2,https://nayoo.co/khonkaen/posts/7439,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,6900000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
197,2,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,12000000,NaN,NaN,ไม่มีฐานข้อมูล,NaN
199,2,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2000000.0,ราคาเสนอขาย 2.0-2.2ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [302]:
est1commercial_nodup = est1_com.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2commercial_nodup = est2_com.drop_duplicates(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])

In [303]:
est2_com['ประเมิน1']  = est2commercial_nodup['post id'].map(est1commercial_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_com

<ipython-input-303-2cc124894a0e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_com['ประเมิน1']  = est2commercial_nodup['post id'].map(est1commercial_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,6000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,13500000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2200000.0
...,...,...,...,...,...,...,...,...,...,...
191,2,https://nayoo.co/khonkaen/posts/7137,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,4000000.0,ราคาเสนอขาย 3.9-4.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3600000.0
193,2,https://nayoo.co/khonkaen/posts/7138,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,4500000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN,2300000.0
195,2,https://nayoo.co/khonkaen/posts/7439,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,6900000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN,3300000.0
197,2,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,12000000,NaN,NaN,ไม่มีฐานข้อมูล,NaN,1500000.0
199,2,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2000000.0,ราคาเสนอขาย 2.0-2.2ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN

In [304]:
est2_com['ประเมิน2'] = est2commercial_nodup['post id'].map(est2commercial_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_com

<ipython-input-304-701c675ac694>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_com['ประเมิน2'] = est2commercial_nodup['post id'].map(est2commercial_nodup.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,ประเมิน1,ประเมิน2
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,6000000.0,8000000.0
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,12000000.0,12000000.0
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,13500000.0,20000000.0
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4000000.0,4000000.0
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2200000.0,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...
191,2,https://nayoo.co/khonkaen/posts/7137,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000,4000000.0,ราคาเสนอขาย 3.9-4.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3600000.0,4000000.0
193,2,https://nayoo.co/khonkaen/posts/7138,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,4500000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN,2300000.0,NaN
195,2,https://nayoo.co/khonkaen/posts/7439,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,6900000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN,3300000.0,NaN
197,2,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,12000000,NaN,NaN,ไม่มีฐานข้อมูล,NaN,1500000.0,NaN
199,2,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2000000.0,ราคาเสนอขาย 2.0-2.2ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN

In [305]:
commercial1 = est2_com[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
commercial1

                                  post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1       https://nayoo.co/khonkaen/posts/6     6600000   6000000.0   8000000.0
3      https://nayoo.co/khonkaen/posts/17    11400000  12000000.0  12000000.0
5      https://nayoo.co/khonkaen/posts/21    22500000  13500000.0  20000000.0
7      https://nayoo.co/khonkaen/posts/22     3500000   4000000.0   4000000.0
9      https://nayoo.co/khonkaen/posts/24     3900000   2200000.0   3000000.0
..                                    ...         ...         ...         ...
191  https://nayoo.co/khonkaen/posts/7137     3900000   3600000.0   4000000.0
193  https://nayoo.co/khonkaen/posts/7138     4500000   2300000.0         NaN
195  https://nayoo.co/khonkaen/posts/7439     6900000   3300000.0         NaN
197  https://nayoo.co/khonkaen/posts/7668    12000000   1500000.0         NaN
199  https://nayoo.co/khonkaen/posts/7705     2200000         NaN         NaN

[100 rows x 4 columns]

In [306]:
commercial1 = commercial1.fillna(value={'ประเมิน1':est2_com['ประเมิน1'].mean()})
commercial1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2
1,https://nayoo.co/khonkaen/posts/6,6600000,6.000000e+06,8000000.0
3,https://nayoo.co/khonkaen/posts/17,11400000,1.200000e+07,12000000.0
5,https://nayoo.co/khonkaen/posts/21,22500000,1.350000e+07,20000000.0
7,https://nayoo.co/khonkaen/posts/22,3500000,4.000000e+06,4000000.0
9,https://nayoo.co/khonkaen/posts/24,3900000,2.200000e+06,3000000.0
...,...,...,...,...
191,https://nayoo.co/khonkaen/posts/7137,3900000,3.600000e+06,4000000.0
193,https://nayoo.co/khonkaen/posts/7138,4500000,2.300000e+06,NaN
195,https://nayoo.co/khonkaen/posts/7439,6900000,3.300000e+06,NaN
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,NaN
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,NaN

In [307]:
commercial1 = commercial1.fillna(value={'ประเมิน2':est2_com['ประเมิน2'].mean()})
commercial1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2
1,https://nayoo.co/khonkaen/posts/6,6600000,6.000000e+06,8.000000e+06
3,https://nayoo.co/khonkaen/posts/17,11400000,1.200000e+07,1.200000e+07
5,https://nayoo.co/khonkaen/posts/21,22500000,1.350000e+07,2.000000e+07
7,https://nayoo.co/khonkaen/posts/22,3500000,4.000000e+06,4.000000e+06
9,https://nayoo.co/khonkaen/posts/24,3900000,2.200000e+06,3.000000e+06
...,...,...,...,...
191,https://nayoo.co/khonkaen/posts/7137,3900000,3.600000e+06,4.000000e+06
193,https://nayoo.co/khonkaen/posts/7138,4500000,2.300000e+06,4.751807e+06
195,https://nayoo.co/khonkaen/posts/7439,6900000,3.300000e+06,4.751807e+06
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,4.751807e+06
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,4.751807e+06

In [308]:
commercial1.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [309]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [310]:
n = commercial1['ราคาทรัพย์']
nby1 = commercial1['ประเมิน1']
nby2 = commercial1['ประเมิน2']

In [311]:
mape(n,nby1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(n,nby1)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.1649785495226084

In [312]:
mape(n,nby2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mape(n,nby2)}')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.16751197585597194

In [313]:
mape(nby1,nby2)
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mape(nby1,nby2)}')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.18100115458326904

# เขียน function ตรวจสอบค่าที่เติม 0 ผิด

In [323]:
house = est2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
house

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25     2890000  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33     2600000  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495     6050000  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564     4400000  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566     2750000  2500000.0  2500000.0
...                                    ...         ...        ...        ...
1210  https://nayoo.co/khonkaen/posts/6255      260000   550000.0   300000.0
1212  https://nayoo.co/khonkaen/posts/6256      610000   700000.0   500000.0
1214  https://nayoo.co/khonkaen/posts/6257      295000   500000.0   300000.0
1216  https://nayoo.co/khonkaen/posts/6258      615000   600000.0   500000.0
1218  https://nayoo.co/khonkaen/posts/6260      620000   750000.0   700000.0

[610 rows x 4 columns]

In [324]:
max(10,2)

10

In [325]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)

In [326]:
check_v(100,12)

8.333333333333334

In [327]:
check_v(100,1200)

12.0

# สร้าง column ใหม่ ลงในตาราง home โดย ค่าใน column คือค่า จาก function check(ราคาตั้งขาย,ราคาประเมิน1)

# บ้าน

In [337]:
house1 = est2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
house1

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25     2890000  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33     2600000  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495     6050000  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564     4400000  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566     2750000  2500000.0  2500000.0
...                                    ...         ...        ...        ...
1210  https://nayoo.co/khonkaen/posts/6255      260000   550000.0   300000.0
1212  https://nayoo.co/khonkaen/posts/6256      610000   700000.0   500000.0
1214  https://nayoo.co/khonkaen/posts/6257      295000   500000.0   300000.0
1216  https://nayoo.co/khonkaen/posts/6258      615000   600000.0   500000.0
1218  https://nayoo.co/khonkaen/posts/6260      620000   750000.0   700000.0

[610 rows x 4 columns]

In [338]:
check1 = list()
for row in house1.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check1

[1.156,
 1.1818181818181819,
 1.21,
 1.2571428571428571,
 1.1,
 1.271111111111111,
 1.36,
 1.0153846153846153,
 1.3684,
 1.031941031941032,
 1.0476190476190477,
 1.1785714285714286,
 1.0592592592592593,
 1.188,
 1.1275,
 nan,
 1.1157142857142857,
 1.0371428571428571,
 1.0588235294117647,
 1.2571428571428571,
 1.13125,
 1.0,
 1.0888888888888888,
 1.0892333472978635,
 1.0444444444444445,
 1.0,
 1.0434782608695652,
 1.02,
 1.25,
 1.13,
 1.0714285714285714,
 1.0,
 1.0,
 1.3833333333333333,
 1.03125,
 1.1611111111111112,
 1.0526315789473684,
 1.5384615384615385,
 1.0227272727272727,
 1.1363636363636365,
 1.1111111111111112,
 1.1290322580645162,
 1.1388888888888888,
 nan,
 1.24,
 1.3093125,
 1.21,
 1.0123636363636364,
 1.0692857142857144,
 1.0158013544018059,
 1.4685314685314685,
 1.1777777777777778,
 1.1942857142857144,
 1.0714285714285714,
 1.0710526315789475,
 1.036,
 1.046,
 1.09375,
 1.2140833670578712,
 1.1090909090909091,
 1.1333333333333333,
 1.1866666666666668,
 1.036,
 1.0031347962382444,
 1.0606060606060606,
 1.2,
 1.2340425531914894,
 1.0,
 1.0857142857142856,
 1.1607142857142858,
 1.1290322580645162,
 1.0263929618768328,
 1.0839269123567667,
 1.0218631178707225,
 1.1333333333333333,
 1.0526315789473684,
 1.1111111111111112,
 1.693121693121693,
 1.0,
 1.0227563283047814,
 1.1111111111111112,
 nan,
 1.0083333333333333,
 1.0697727272727273,
 1.1,
 1.2222222222222223,
 1.1346153846153846,
 1.8,
 nan,
 1.1458333333333333,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.119047619047619,
 1.1818181818181819,
 1.1923076923076923,
 1.0695187165775402,
 1.1143695014662756,
 1.0421052631578946,
 1.0932142857142857,
 1.4255555555555555,
 1.1165,
 1.0477299185098952,
 1.1236538461538461,
 1.1,
 1.0582010582010581,
 2.3289156626506022,
 1.0143198090692125,
 1.0810810810810811,
 1.099706744868035,
 1.0256410256410255,
 nan,
 1.038338658146965,
 nan,
 1.0606060606060606,
 1.0606060606060606,
 1.0478846153846153,
 1.2727272727272727,
 1.1965811965811965,
 1.317829457364341,
 1.1218636363636363,
 1.0047846889952152,
 nan,
 1.0266666666666666,
 1.0214285714285714,
 nan,
 1.1230434782608696,
 1.0153846153846153,
 nan,
 1.012,
 1.0025714285714287,
 1.0266666666666666,
 nan,
 1.0195121951219512,
 1.1,
 nan,
 1.0403333333333333,
 nan,
 1.0150632911392405,
 1.056,
 1.0694444444444444,
 1.1407407407407408,
 nan,
 1.3055555555555556,
 1.0389610389610389,
 1.088,
 1.0431428571428571,
 1.1120833333333333,
 1.0384090909090908,
 1.1317857142857144,
 1.08,
 1.1257894736842105,
 1.0909090909090908,
 1.1082142857142858,
 1.2257142857142858,
 nan,
 1.1385185185185185,
 1.0866315789473684,
 1.1067816091954024,
 1.1752941176470588,
 1.2074643249176729,
 1.0671936758893281,
 1.1066666666666667,
 1.0824,
 nan,
 1.0057142857142858,
 nan,
 1.0146103896103895,
 nan,
 nan,
 1.2083333333333333,
 1.05275,
 nan,
 nan,
 nan,
 1.0684375,
 1.1,
 1.053191489361702,
 1.0755555555555556,
 1.0276679841897234,
 1.1676470588235295,
 1.2137931034482758,
 1.2178260869565218,
 1.072857142857143,
 1.0754545454545454,
 1.0541110330288124,
 1.0568181818181819,
 1.0813559322033899,
 1.1538461538461537,
 1.1627906976744187,
 1.5355086372360844,
 nan,
 1.0366666666666666,
 1.1071428571428572,
 1.2618296529968454,
 1.2263099219620959,
 1.11,
 1.2572222222222222,
 1.103448275862069,
 1.0745,
 1.0131712259371835,
 1.0714285714285714,
 1.0640666666666667,
 1.1556240369799693,
 1.0375,
 1.1605415860735009,
 1.038888888888889,
 1.053370786516854,
 1.0144927536231885,
 nan,
 1.0606060606060606,
 1.0526315789473684,
 1.0346153846153847,
 1.0317021276595744,
 9.018181818181818,
 1.050656660412758,
 1.30625,
 1.068125,
 1.0101010101010102,
 1.0325,
 1.0231316725978647,
 1.7408333333333332,
 1.0526315789473684,
 1.09,
 1.1583333333333334,
 nan,
 1.0793984962406016,
 1.035,
 1.1244444444444444,
 nan,
 1.0,
 1.0114285714285713,
 1.0628205128205128,
 1.0214285714285714,
 1.0909090909090908,
 1.1019283746556474,
 1.1930769230769231,
 1.2844444444444445,
 1.0666666666666667,
 1.125703564727955,
 1.1428571428571428,
 1.0769230769230769,
 1.1029411764705883,
 1.2032085561497325,
 1.0515247108307044,
 1.1275,
 1.1553333333333333,
 1.0942857142857143,
 1.2066666666666668,
 1.3871428571428572,
 1.1904761904761905,
 1.015,
 nan,
 2.36,
 1.0603448275862069,
 1.0863636363636364,
 1.0196078431372548,
 1.0844827586206895,
 1.0638297872340425,
 1.0,
 1.02,
 1.0227272727272727,
 nan,
 1.0,
 1.14,
 nan,
 1.0,
 1.0434782608695652,
 1.0769230769230769,
 1.0040160642570282,
 1.0576923076923077,
 1.0333333333333334,
 1.1676923076923076,
 nan,
 1.1333333333333333,
 1.0238095238095237,
 1.0576923076923077,
 nan,
 1.0606060606060606,
 1.0277777777777777,
 nan,
 1.0769230769230769,
 1.125,
 1.1111111111111112,
 nan,
 1.0743589743589743,
 1.1,
 1.0615384615384615,
 1.0377358490566038,
 1.1333333333333333,
 1.037037037037037,
 nan,
 1.0702341137123745,
 1.1538461538461537,
 1.0888888888888888,
 1.0476190476190477,
 1.3333333333333333,
 1.1,
 1.0128205128205128,
 1.0909090909090908,
 nan,
 1.206896551724138,
 1.0476190476190477,
 nan,
 1.0384615384615385,
 nan,
 nan,
 1.0483870967741935,
 1.073076923076923,
 1.0285714285714285,
 1.2272727272727273,
 1.0033444816053512,
 1.0805555555555555,
 1.0612244897959184,
 1.037037037037037,
 1.024390243902439,
 1.027027027027027,
 1.125,
 nan,
 1.1428571428571428,
 nan,
 nan,
 1.1615384615384616,
 1.0153846153846153,
 1.1764705882352942,
 1.1666666666666667,
 1.2903225806451613,
 1.1111111111111112,
 1.2195121951219512,
 1.1625,
 1.3114754098360655,
 1.1764705882352942,
 1.0169491525423728,
 1.14,
 1.2333333333333334,
 1.33,
 1.1055276381909547,
 1.3125,
 1.0291666666666666,
 1.6470588235294117,
 nan,
 1.05,
 1.0705882352941176,
 1.1570247933884297,
 1.3333333333333333,
 1.2285714285714286,
 1.1538461538461537,
 1.28,
 1.0204081632653061,
 1.0169491525423728,
 1.4814814814814814,
 1.16,
 1.35625,
 1.1428571428571428,
 1.0695652173913044,
 1.1891891891891893,
 nan,
 1.2,
 1.476923076923077,
 1.0273972602739727,
 1.1105263157894736,
 1.25,
 1.1123595505617978,
 1.5873015873015872,
 1.0344827586206897,
 1.261111111111111,
 1.1176470588235294,
 nan,
 1.1,
 1.9230769230769231,
 1.3445378151260505,
 1.1111111111111112,
 1.7073170731707317,
 nan,
 nan,
 1.935483870967742,
 1.05,
 1.0126582278481013,
 1.2583333333333333,
 1.07,
 1.4492753623188406,
 1.1,
 nan,
 1.5,
 1.0571428571428572,
 1.1688311688311688,
 1.111764705882353,
 1.0666666666666667,
 1.0050251256281406,
 1.095,
 1.0212765957446808,
 nan,
 nan,
 10.391304347826088,
 1.0582010582010581,
 1.0460251046025104,
 1.0196078431372548,
 nan,
 1.0582010582010581,
 1.0833333333333333,
 nan,
 1.0847457627118644,
 1.1382113821138211,
 1.3333333333333333,
 nan,
 nan,
 1.0703703703703704,
 nan,
 1.1428571428571428,
 nan,
 1.076,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.103448275862069,
 1.040909090909091,
 1.0,
 nan,
 1.0309278350515463,
 1.0263157894736843,
 nan,
 1.1142857142857143,
 nan,
 1.4,
 1.6666666666666667,
 1.0043668122270741,
 1.1538461538461537,
 1.0208333333333333,
 1.08,
 1.094890510948905,
 nan,
 1.0644444444444445,
 nan,
 nan,
 nan,
 nan,
 1.0204081632653061,
 1.25,
 nan,
 1.368421052631579,
 nan,
 nan,
 1.0714285714285714,
 1.0853658536585367,
 1.1473684210526316,
 1.1153846153846154,
 1.0067114093959733,
 1.1590909090909092,
 1.126086956521739,
 1.0681818181818181,
 1.2222222222222223,
 1.0,
 1.1666666666666667,
 nan,
 nan,
 1.0833333333333333,
 nan,
 1.1733333333333333,
 nan,
 1.0227272727272727,
 nan,
 nan,
 1.0416666666666667,
 1.0266666666666666,
 1.194947080914988,
 1.0153846153846153,
 1.6018306636155606,
 1.0442857142857143,
 1.2307692307692308,
 nan,
 1.159,
 nan,
 1.078,
 nan,
 1.077,
 1.0150375939849625,
 nan,
 nan,
 1.25,
 3.0755711775043935,
 1.0363636363636364,
 1.3473684210526315,
 1.5236567762630313,
 2.037037037037037,
 1.171875,
 nan,
 1.1188888888888888,
 1.0822510822510822,
 1.0577272727272726,
 1.3183333333333334,
 1.1524822695035462,
 1.0751111111111111,
 1.0583333333333333,
 1.1764705882352942,
 1.134,
 1.03935,
 1.0685714285714285,
 1.0421601136901941,
 nan,
 1.0116906474820144,
 1.0842,
 nan,
 1.0330578512396693,
 1.009493670886076,
 1.0317460317460319,
 1.019,
 1.0523809523809524,
 1.1834883720930232,
 1.027111111111111,
 nan,
 1.028918918918919,
 1.0,
 1.094391244870041,
 1.0521885521885521,
 1.0008333333333332,
 1.0152777777777777,
 1.0563636363636364,
 nan,
 nan,
 nan,
 1.0999083409715857,
 1.1145510835913313,
 1.5126050420168067,
 1.008125,
 1.0344827586206897,
 2.413793103448276,
 1.09717868338558,
 1.1872222222222222,
 1.07,
 1.0513636363636363,
 1.1,
 1.0714285714285714,
 1.02,
 1.1423076923076922,
 nan,
 1.0185185185185186,
 1.079090909090909,
 nan,
 1.0891666666666666,
 1.2019230769230769,
 1.0736842105263158,
 nan,
 1.0947368421052632,
 1.0666666666666667,
 1.058873358746294,
 nan,
 1.0045454545454546,
 1.035294117647059,
 1.1538461538461537,
 nan,
 1.11875,
 1.0431484115694643,
 1.1160714285714286,
 1.0741687979539642,
 1.4892443463872036,
 1.2304250559284116,
 nan,
 nan,
 nan,
 1.0068649885583525,
 nan,
 1.0094736842105263,
 1.161524500907441,
 1.2987012987012987,
 nan,
 1.2941176470588236,
 1.0227272727272727,
 nan,
 1.0416666666666667,
 nan,
 nan,
 1.0625,
 nan,
 1.1117974058060531,
 nan,
 1.4901960784313726,
 1.1764705882352942,
 1.1940298507462686,
 1.4492753623188406,
 2.807017543859649,
 1.133888888888889,
 nan,
 1.8623481781376519,
 1.0526315789473684,
 1.2327777777777778,
 1.0136847440446022,
 1.3235294117647058,
 nan,
 nan,
 1.2903225806451613,
 nan,
 1.0721153846153846,
 1.171875,
 nan,
 1.0333333333333334,
 2.1153846153846154,
 1.1475409836065573,
 1.694915254237288,
 1.025,
 1.2096774193548387]

In [339]:
check2 = list()
for row in house1.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check2

[1.0703703703703704,
 1.0833333333333333,
 1.487603305785124,
 1.1891891891891893,
 1.1,
 1.0314685314685315,
 1.050420168067227,
 1.0416666666666667,
 1.1403333333333334,
 1.0175,
 1.0476190476190477,
 1.03125,
 1.0214285714285714,
 1.0607142857142857,
 1.025,
 nan,
 1.0847222222222221,
 1.0371428571428571,
 1.0,
 1.125,
 1.1049723756906078,
 1.1904761904761905,
 1.0888888888888888,
 1.0054461667364893,
 1.0425531914893618,
 1.125,
 1.0434782608695652,
 1.0364145658263306,
 1.0,
 1.0324483775811208,
 1.04,
 1.2,
 1.04,
 1.1318181818181818,
 1.0,
 1.045,
 1.0526315789473684,
 3.3333333333333335,
 1.0227272727272727,
 1.04,
 1.08,
 1.2903225806451613,
 1.1219512195121952,
 1.125,
 1.075268817204301,
 1.2322941176470588,
 1.0755555555555556,
 1.0775862068965518,
 1.169004676018704,
 1.0158013544018059,
 1.048951048951049,
 1.1777777777777778,
 1.045,
 1.0666666666666667,
 1.0435897435897437,
 1.036,
 1.046,
 1.0857142857142856,
 1.0117361392148927,
 1.1090909090909091,
 1.0408163265306123,
 1.1125,
 1.036,
 1.0031347962382444,
 1.1,
 1.1666666666666667,
 1.0344827586206897,
 1.0285714285714285,
 1.0857142857142856,
 1.0,
 1.0769230769230769,
 1.0263929618768328,
 1.3007122948281202,
 1.0693916349809887,
 1.0625,
 1.1578947368421053,
 nan,
 1.164021164021164,
 1.0909090909090908,
 1.0227563283047814,
 1.25,
 1.05,
 1.05875,
 1.046,
 1.056,
 1.1,
 1.2542372881355932,
 1.25,
 1.0256410256410255,
 1.018181818181818,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.0444444444444445,
 nan,
 1.04,
 nan,
 1.2316715542521994,
 1.0606060606060606,
 nan,
 nan,
 nan,
 1.07375,
 nan,
 1.1,
 1.26,
 1.1381272633212622,
 nan,
 1.0810810810810811,
 1.364,
 1.17,
 nan,
 1.0433333333333332,
 nan,
 nan,
 nan,
 1.0898,
 nan,
 nan,
 nan,
 nan,
 1.0047846889952152,
 nan,
 1.1,
 1.048951048951049,
 1.0606060606060606,
 1.174090909090909,
 1.056,
 nan,
 1.0276679841897234,
 1.1969222000569963,
 1.0266666666666666,
 nan,
 1.045,
 1.0822510822510822,
 1.0330578512396693,
 nan,
 1.15,
 9.976306272602569,
 1.0153846153846153,
 1.0909090909090908,
 1.1,
 nan,
 1.175,
 1.1688311688311688,
 nan,
 1.0431428571428571,
 nan,
 nan,
 1.0563333333333333,
 nan,
 1.0695,
 1.0909090909090908,
 1.0343333333333333,
 1.0725,
 nan,
 1.0246666666666666,
 1.0323,
 1.0385294423096896,
 1.1011011011011012,
 1.0976948408342482,
 1.383399209486166,
 1.355421686746988,
 1.0824,
 nan,
 1.1079545454545454,
 nan,
 1.0146103896103895,
 nan,
 nan,
 nan,
 1.05275,
 1.1730205278592376,
 nan,
 nan,
 1.0684375,
 1.1647058823529413,
 1.0101010101010102,
 nan,
 1.012,
 1.2594458438287153,
 nan,
 nan,
 1.072857142857143,
 1.098901098901099,
 nan,
 nan,
 1.0633333333333332,
 1.2666666666666666,
 1.1627906976744187,
 nan,
 nan,
 1.2057877813504823,
 1.1612903225806452,
 1.025236593059937,
 1.0033444816053512,
 1.0237510237510237,
 nan,
 1.206896551724138,
 1.0469986040018613,
 nan,
 1.0714285714285714,
 1.3300833333333333,
 1.2326656394453004,
 1.0120481927710843,
 1.1605415860735009,
 1.0427807486631016,
 1.053370786516854,
 1.0144927536231885,
 nan,
 1.0101010101010102,
 1.0526315789473684,
 1.1208333333333333,
 1.031140441328109,
 nan,
 1.066,
 1.0047846889952152,
 nan,
 1.0101010101010102,
 nan,
 1.112099644128114,
 1.0531354715174726,
 1.0291666666666666,
 1.1009174311926606,
 1.079136690647482,
 nan,
 1.0448592922819726,
 1.1187388761759471,
 1.331578947368421,
 1.0344827586206897,
 1.1,
 nan,
 1.03625,
 1.43,
 1.03125,
 1.1019283746556474,
 1.0315925209542232,
 nan,
 1.024,
 1.1104166666666666,
 1.1428571428571428,
 1.0714285714285714,
 1.02,
 1.0695187165775402,
 nan,
 1.1086474501108647,
 1.154068090017311,
 nan,
 1.1049723756906078,
 1.21375,
 1.1904761904761905,
 1.015,
 nan,
 nan,
 nan,
 1.0878661087866108,
 1.0196078431372548,
 1.0483333333333333,
 1.1111111111111112,
 1.0588235294117647,
 1.0893246187363834,
 1.125,
 1.0727272727272728,
 nan,
 10.175438596491228,
 1.0526315789473684,
 1.0,
 1.0416666666666667,
 1.037037037037037,
 1.0040160642570282,
 1.0909090909090908,
 1.075268817204301,
 1.0540184453227932,
 nan,
 1.0,
 1.0238095238095237,
 1.0,
 nan,
 nan,
 1.0810810810810811,
 nan,
 nan,
 1.1111111111111112,
 1.0,
 1.0526315789473684,
 1.0023866348448687,
 1.0101010101010102,
 1.0,
 nan,
 nan,
 1.037037037037037,
 1.0576923076923077,
 1.0702341137123745,
 1.0833333333333333,
 1.0315789473684212,
 1.0,
 1.25,
 1.1,
 nan,
 nan,
 nan,
 1.103448275862069,
 1.1904761904761905,
 1.0,
 1.0769230769230769,
 1.1111111111111112,
 nan,
 nan,
 1.075268817204301,
 1.0833333333333333,
 1.0909090909090908,
 1.0678571428571428,
 nan,
 1.0204081632653061,
 nan,
 1.0975609756097562,
 1.135135135135135,
 nan,
 nan,
 1.1666666666666667,
 1.1728395061728396,
 nan,
 1.0066666666666666,
 1.2923076923076924,
 nan,
 1.1666666666666667,
 1.075268817204301,
 1.35,
 1.024390243902439,
 1.075268817204301,
 nan,
 1.680672268907563,
 1.10625,
 1.0526315789473684,
 1.2333333333333334,
 nan,
 nan,
 1.0666666666666667,
 1.214574898785425,
 nan,
 nan,
 nan,
 nan,
 1.21,
 1.0714285714285714,
 1.075,
 1.0576923076923077,
 1.0416666666666667,
 1.0204081632653061,
 1.18,
 1.0125,
 1.0875,
 1.1059907834101383,
 1.5238095238095237,
 1.1181818181818182,
 nan,
 nan,
 1.12,
 nan,
 1.0273972602739727,
 1.1374407582938388,
 1.125,
 nan,
 nan,
 1.1494252873563218,
 1.0572687224669604,
 1.0555555555555556,
 nan,
 nan,
 1.04,
 1.0924369747899159,
 1.0526315789473684,
 1.2195121951219512,
 nan,
 nan,
 1.1625,
 1.0317460317460319,
 nan,
 1.1615384615384616,
 1.1214953271028036,
 1.4492753623188406,
 1.0909090909090908,
 nan,
 1.25,
 1.1384615384615384,
 1.1,
 nan,
 1.0666666666666667,
 1.1055276381909547,
 1.095,
 1.0416666666666667,
 nan,
 1.09375,
 10.863636363636363,
 1.0052910052910053,
 1.0,
 nan,
 nan,
 1.0582010582010581,
 1.0666666666666667,
 nan,
 1.0169491525423728,
 1.056910569105691,
 nan,
 nan,
 nan,
 1.0,
 nan,
 1.0,
 1.0,
 1.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.09375,
 1.040909090909091,
 1.1538461538461537,
 nan,
 1.1111111111111112,
 1.0256410256410255,
 nan,
 1.0256410256410255,
 nan,
 1.05,
 1.0,
 1.091703056768559,
 1.0,
 1.0208333333333333,
 1.0,
 1.013787510137875,
 nan,
 nan,
 nan,
 nan,
 1.0285714285714285,
 1.0612244897959184,
 1.0204081632653061,
 nan,
 nan,
 1.0,
 nan,
 1.0,
 1.0714285714285714,
 nan,
 1.1009174311926606,
 1.0545454545454545,
 nan,
 1.0588235294117647,
 nan,
 1.0638297872340425,
 1.1,
 1.0454545454545454,
 1.05,
 nan,
 1.16,
 1.0769230769230769,
 1.0,
 1.2571428571428571,
 nan,
 1.0227272727272727,
 nan,
 nan,
 1.0416666666666667,
 1.103896103896104,
 1.0242403550699897,
 1.0153846153846153,
 1.0297482837528604,
 1.0442857142857143,
 1.5384615384615385,
 nan,
 nan,
 1.0774410774410774,
 1.078,
 1.012,
 nan,
 1.064,
 nan,
 nan,
 nan,
 nan,
 1.0363636363636364,
 1.0795454545454546,
 nan,
 nan,
 1.0666666666666667,
 nan,
 1.1188888888888888,
 1.05,
 nan,
 nan,
 nan,
 nan,
 1.1023622047244095,
 1.278772378516624,
 1.0005882352941176,
 nan,
 1.0695187165775402,
 nan,
 nan,
 1.1241007194244603,
 1.0842,
 nan,
 1.0330578512396693,
 1.0031347962382444,
 1.05,
 nan,
 1.1312217194570136,
 nan,
 nan,
 1.1705685618729098,
 1.0877142857142856,
 1.0277777777777777,
 1.094391244870041,
 nan,
 1.2489592006661117,
 1.231190150478796,
 nan,
 nan,
 nan,
 nan,
 1.2832263978001832,
 1.08359133126935,
 1.2100840336134453,
 nan,
 1.09717868338558,
 2.0689655172413794,
 1.0633333333333332,
 1.169864295741694,
 1.0136842105263157,
 nan,
 1.1407407407407408,
 1.0389610389610389,
 nan,
 nan,
 nan,
 1.0185185185185186,
 nan,
 1.0476190476190477,
 nan,
 1.5024038461538463,
 1.0784313725490196,
 1.1067193675889329,
 1.0526315789473684,
 1.3333333333333333,
 nan,
 nan,
 1.0045454545454546,
 1.1764705882352942,
 1.6025641025641026,
 1.0909090909090908,
 1.0614525139664805,
 nan,
 1.4285714285714286,
 nan,
 1.2134583563154993,
 1.3982102908277405,
 nan,
 nan,
 1.2222222222222223,
 1.1441647597254005,
 nan,
 nan,
 1.0889292196007259,
 1.4757969303423848,
 nan,
 1.2941176470588236,
 1.1363636363636365,
 nan,
 1.1666666666666667,
 nan,
 nan,
 1.0588235294117647,
 nan,
 nan,
 nan,
 1.0625,
 1.1764705882352942,
 1.1940298507462686,
 1.2077294685990339,
 nan,
 1.224889759921607,
 1.018181818181818,
 1.6194331983805668,
 1.6541353383458646,
 1.0086363636363636,
 1.2671059300557526,
 1.1029411764705883,
 1.2857142857142858,
 nan,
 nan,
 nan,
 1.0762331838565022,
 1.25,
 1.0833333333333333,
 nan,
 1.1538461538461537,
 1.22,
 1.0169491525423728,
 1.23,
 1.1290322580645162]

In [345]:
house1['check1']=house1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)
house1

<ipython-input-345-c515671b5a9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house1['check1']=house1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/25,2890000,2500000.0,2700000.0,1.156000,1.070370
3,https://nayoo.co/khonkaen/posts/33,2600000,2200000.0,2400000.0,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,6050000,5000000.0,9000000.0,1.210000,1.487603
7,https://nayoo.co/khonkaen/posts/564,4400000,3500000.0,3700000.0,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
1210,https://nayoo.co/khonkaen/posts/6255,260000,550000.0,300000.0,2.115385,1.153846
1212,https://nayoo.co/khonkaen/posts/6256,610000,700000.0,500000.0,1.147541,1.220000
1214,https://nayoo.co/khonkaen/posts/6257,295000,500000.0,300000.0,1.694915,1.016949
1216,https://nayoo.co/khonkaen/posts/6258,615000,600000.0,500000.0,1.025000,1.230000
1218,https://nayoo.co/khonkaen/posts/6260,620000,750000.0,700000.0,1.209677,1.129032

In [346]:
house1['check2']=house1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
house1

<ipython-input-346-8cfc40e8bdb1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house1['check2']=house1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/25,2890000,2500000.0,2700000.0,1.156000,1.070370
3,https://nayoo.co/khonkaen/posts/33,2600000,2200000.0,2400000.0,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,6050000,5000000.0,9000000.0,1.210000,1.487603
7,https://nayoo.co/khonkaen/posts/564,4400000,3500000.0,3700000.0,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
1210,https://nayoo.co/khonkaen/posts/6255,260000,550000.0,300000.0,2.115385,1.153846
1212,https://nayoo.co/khonkaen/posts/6256,610000,700000.0,500000.0,1.147541,1.220000
1214,https://nayoo.co/khonkaen/posts/6257,295000,500000.0,300000.0,1.694915,1.016949
1216,https://nayoo.co/khonkaen/posts/6258,615000,600000.0,500000.0,1.025000,1.230000
1218,https://nayoo.co/khonkaen/posts/6260,620000,750000.0,700000.0,1.209677,1.129032

In [347]:
house1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
802,https://nayoo.co/khonkaen/posts/3208,23900000,2300000.0,2200000.0,10.391304,10.863636
444,https://nayoo.co/khonkaen/posts/1133,1984000,220000.0,NaN,9.018182,NaN
978,https://nayoo.co/khonkaen/posts/5959,1138000,3500000.0,NaN,3.075571,NaN
1179,https://nayoo.co/khonkaen/posts/6117,570000,1600000.0,NaN,2.807018,NaN
1070,https://nayoo.co/khonkaen/posts/6037,1450000,3500000.0,3000000.0,2.413793,2.068966
...,...,...,...,...,...,...
1183,https://nayoo.co/khonkaen/posts/6126,2240000,NaN,2200000.0,NaN,1.018182
1195,https://nayoo.co/khonkaen/posts/6156,3500000,NaN,4500000.0,NaN,1.285714
1197,https://nayoo.co/khonkaen/posts/6157,3850000,NaN,NaN,NaN,NaN
1200,https://nayoo.co/khonkaen/posts/6158,3850000,NaN,NaN,NaN,NaN
1206,https://nayoo.co/khonkaen/posts/6178,2400000,NaN,2600000.0,NaN,1.083333

In [348]:
house1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
802,https://nayoo.co/khonkaen/posts/3208,23900000,2300000.0,2200000.0,10.391304,10.863636
544,https://nayoo.co/khonkaen/posts/1619,2850000,2500000.0,29000000.0,1.140000,10.175439
292,https://nayoo.co/khonkaen/posts/622,8019000,7900000.0,80000000.0,1.015063,9.976306
75,https://nayoo.co/khonkaen/posts/1,390000,600000.0,1300000.0,1.538462,3.333333
1070,https://nayoo.co/khonkaen/posts/6037,1450000,3500000.0,3000000.0,2.413793,2.068966
...,...,...,...,...,...,...
1179,https://nayoo.co/khonkaen/posts/6117,570000,1600000.0,NaN,2.807018,NaN
1197,https://nayoo.co/khonkaen/posts/6157,3850000,NaN,NaN,NaN,NaN
1199,https://nayoo.co/khonkaen/posts/6261,620000,800000.0,NaN,1.290323,NaN
1200,https://nayoo.co/khonkaen/posts/6158,3850000,NaN,NaN,NaN,NaN
1208,https://nayoo.co/khonkaen/posts/6242,930000,900000.0,NaN,1.033333,NaN

# ที่ดิน

In [393]:
land1 = est2_land[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
land1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0,1.555556,1.400000
4,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0,1.862500,1.241667
7,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
10,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0,1.857143,1.083333
13,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0,1.363636,1.200000
...,...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0,1.325000,1.060000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0,1.200000,1.071429

In [359]:
check1 = list()
for row in land1.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check1

[1.5555555555555556,
 1.8625,
 5.0,
 1.8571428571428572,
 1.3636363636363635,
 1.5,
 4.714285714285714,
 1.1363636363636365,
 1.6,
 1.1964285714285714,
 1.2,
 1.2,
 1.125,
 1.1666666666666667,
 1.0476190476190477,
 1.2105263157894737,
 1.2,
 1.1666666666666667,
 10.208333333333334,
 1.35,
 1.1428571428571428,
 1.1,
 1.411764705882353,
 1.5,
 8.571428571428571,
 1.2515644555694618,
 2.25,
 1.4074074074074074,
 4.7825,
 1.25,
 4.0,
 nan,
 2.5,
 1.2727272727272727,
 1.0204081632653061,
 1.2666666666666666,
 1.0833333333333333,
 1.0416666666666667,
 nan,
 1.2882882882882882,
 nan,
 1.1111111111111112,
 1.25,
 1.2363636363636363,
 1.2857142857142858,
 1.0101010101010102,
 1.8125,
 2.8857142857142857,
 1.39,
 1.3,
 nan,
 12.307692307692308,
 1.2380952380952381,
 1.25,
 1.29,
 1.481111111111111,
 1.0,
 1.4285714285714286,
 1.2761363636363636,
 1.0968333333333333,
 1.0,
 2.25,
 1.1764705882352942,
 1.1346153846153846,
 1.25,
 1.1875,
 1.5,
 1.0625,
 1.2075,
 1.2290916666666667,
 1.25,
 nan,
 nan,
 1.1333333333333333,
 1.25,
 1.2765,
 1.3333333333333333,
 1.3277714285714286,
 1.2307692307692308,
 1.2727272727272727,
 1.2173913043478262,
 1.0415714285714286,
 1.8181818181818181,
 1.1142857142857143,
 1.328,
 1.1426785714285714,
 1.0256410256410255,
 1.05,
 1.0714285714285714,
 1.0869565217391304,
 1.0529411764705883,
 2.5714285714285716,
 20.0,
 1.66,
 1.125,
 1.25,
 1.5,
 1.325,
 1.1538461538461537,
 1.2]

In [360]:
check2 = list()
for row in land1.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check2

[1.4,
 1.2416666666666667,
 1.2857142857142858,
 1.0833333333333333,
 1.2,
 1.2,
 1.2692307692307692,
 1.1363636363636365,
 1.2,
 1.1166666666666667,
 1.3333333333333333,
 1.0909090909090908,
 2.8125,
 1.0,
 1.0606060606060606,
 1.9166666666666667,
 1.0416666666666667,
 1.0285714285714285,
 13.61111111111111,
 1.9285714285714286,
 1.1111111111111112,
 1.1,
 1.1764705882352942,
 1.25,
 10.909090909090908,
 1.0012515644555695,
 1.1111111111111112,
 1.35,
 1.2753333333333334,
 1.25,
 1.1666666666666667,
 nan,
 1.1904761904761905,
 1.12,
 1.225,
 1.2666666666666666,
 1.2,
 1.2,
 1.1363636363636365,
 1.144,
 nan,
 1.1627906976744187,
 1.0666666666666667,
 1.0588235294117647,
 1.2352941176470589,
 1.2375,
 1.16,
 1.01,
 1.1583333333333334,
 1.0833333333333333,
 nan,
 1.3,
 1.0476190476190477,
 1.0714285714285714,
 1.075,
 1.333,
 1.0769230769230769,
 1.25,
 1.40375,
 1.0968333333333333,
 1.1363636363636365,
 1.125,
 1.0625,
 1.18,
 1.25,
 1.0555555555555556,
 1.2,
 5.294117647058823,
 1.2075,
 10.8481195462774,
 1.1,
 nan,
 nan,
 1.1176470588235294,
 1.0,
 1.4183333333333332,
 1.3333333333333333,
 1.1618,
 1.0666666666666667,
 1.0714285714285714,
 1.0769230769230769,
 1.4582,
 1.3636363636363635,
 1.0833333333333333,
 1.0375,
 1.0665,
 1.0256410256410255,
 1.05,
 1.0344827586206897,
 10.434782608695652,
 1.11875,
 1.8,
 1.2,
 1.1066666666666667,
 1.0555555555555556,
 1.25,
 1.0,
 1.06,
 1.1538461538461537,
 1.0714285714285714]

In [361]:
land1['check1']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)
land1

<ipython-input-361-4d00cc47e91d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land1['check1']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1
1,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0,1.555556
4,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0,1.862500
7,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000
10,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0,1.857143
13,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0,1.363636
...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0,1.325000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0,1.200000

In [362]:
land1['check2']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
land1

<ipython-input-362-fd07bd036102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land1['check2']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0,1.555556,1.400000
4,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0,1.862500,1.241667
7,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
10,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0,1.857143,1.083333
13,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0,1.363636,1.200000
...,...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0,1.325000,1.060000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0,1.200000,1.071429

In [363]:
land1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
194,https://nayoo.co/khonkaen/posts/13702,90000000,4500000.0,75000000.0,20.000000,1.200000
112,https://nayoo.co/khonkaen/posts/7955,2600000,32000000.0,2000000.0,12.307692,1.300000
47,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
58,https://nayoo.co/khonkaen/posts/9203,120000000,14000000.0,11000000.0,8.571429,10.909091
7,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
...,...,...,...,...,...,...
86,https://nayoo.co/khonkaen/posts/8426,5000000,NaN,4400000.0,NaN,1.136364
90,https://nayoo.co/khonkaen/posts/9143,3000000,NaN,NaN,NaN,NaN
110,https://nayoo.co/khonkaen/posts/3227,1390000,NaN,NaN,NaN,NaN
152,https://nayoo.co/khonkaen/posts/3593,2500000,NaN,NaN,NaN,NaN
154,https://nayoo.co/khonkaen/posts/5194,12075000,NaN,NaN,NaN,NaN

In [364]:
land1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
47,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
58,https://nayoo.co/khonkaen/posts/9203,120000000,14000000.0,11000000.0,8.571429,10.909091
148,https://nayoo.co/khonkaen/posts/3561,7374550,6000000.0,80000000.0,1.229092,10.848120
188,https://nayoo.co/khonkaen/posts/12250,2300000,2500000.0,24000000.0,1.086957,10.434783
144,https://nayoo.co/khonkaen/posts/3341,1700000,1600000.0,9000000.0,1.062500,5.294118
...,...,...,...,...,...,...
72,https://nayoo.co/khonkaen/posts/1861,12000000,NaN,NaN,NaN,NaN
90,https://nayoo.co/khonkaen/posts/9143,3000000,NaN,NaN,NaN,NaN
110,https://nayoo.co/khonkaen/posts/3227,1390000,NaN,NaN,NaN,NaN
152,https://nayoo.co/khonkaen/posts/3593,2500000,NaN,NaN,NaN,NaN
154,https://nayoo.co/khonkaen/posts/5194,12075000,NaN,NaN,NaN,NaN

# คอนโด

In [367]:
condo = pd.read_excel(link,sheet_name='คอนโด')
id1 = condo[condo['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 18.36%

In [368]:
condo

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,1395.0,คอนโด,มั่นใจ,1600000,2300000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,1443.0,คอนโด,มั่นใจ,1860000,1800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
5,1,1609.0,คอนโด,มั่นใจ,1490000,1500000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
6,1,1640.0,คอนโด,มั่นใจ,1280000,1600000.0,"30,000-70,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
7,1,1641.0,คอนโด,มั่นใจ,4290000,2700000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน
8,1,1650.0,คอนโด,มั่นใจ,1700000,1550000.0,"30,000-70,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
9,1,1840.0,คอนโด,มั่นใจ,3790000,2800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [369]:
condo['ประเมิน1'] = condo['ประเมินราคาซื้อ-ขาย']

In [370]:
condo1 = condo[['post id','ราคาทรัพย์','ประเมิน1']]
condo1

   post id  ราคาทรัพย์   ประเมิน1
0     32.0     3500000  3500000.0
1     36.0     1930000  2200000.0
2    603.0     2438000  2800000.0
3   1395.0     1600000  2300000.0
4   1443.0     1860000  1800000.0
5   1609.0     1490000  1500000.0
6   1640.0     1280000  1600000.0
7   1641.0     4290000  2700000.0
8   1650.0     1700000  1550000.0
9   1840.0     3790000  2800000.0

In [371]:
check1 = list()
for row in condo1.iterrows():
  check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check1

[1.0,
 1.1398963730569949,
 1.1484823625922889,
 1.4375,
 1.0333333333333334,
 1.0067114093959733,
 1.25,
 1.5888888888888888,
 1.096774193548387,
 1.3535714285714286]

In [372]:
condo1['check1'] = check1
condo1

<ipython-input-372-5f1dab82e761>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  condo1['check1'] = check1

   post id  ราคาทรัพย์   ประเมิน1    check1
0     32.0     3500000  3500000.0  1.000000
1     36.0     1930000  2200000.0  1.139896
2    603.0     2438000  2800000.0  1.148482
3   1395.0     1600000  2300000.0  1.437500
4   1443.0     1860000  1800000.0  1.033333
5   1609.0     1490000  1500000.0  1.006711
6   1640.0     1280000  1600000.0  1.250000
7   1641.0     4290000  2700000.0  1.588889
8   1650.0     1700000  1550000.0  1.096774
9   1840.0     3790000  2800000.0  1.353571

In [373]:
condo1.sort_values(by=['check1'],ascending=False)

   post id  ราคาทรัพย์   ประเมิน1    check1
7   1641.0     4290000  2700000.0  1.588889
3   1395.0     1600000  2300000.0  1.437500
9   1840.0     3790000  2800000.0  1.353571
6   1640.0     1280000  1600000.0  1.250000
2    603.0     2438000  2800000.0  1.148482
1     36.0     1930000  2200000.0  1.139896
8   1650.0     1700000  1550000.0  1.096774
4   1443.0     1860000  1800000.0  1.033333
5   1609.0     1490000  1500000.0  1.006711
0     32.0     3500000  3500000.0  1.000000

# ทาวน์โฮม

In [392]:
townhome1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2
1,https://nayoo.co/khonkaen/posts/548,1045000,700000.0,1.500000e+06
3,https://nayoo.co/khonkaen/posts/549,935000,700000.0,1.500000e+06
5,https://nayoo.co/khonkaen/posts/579,2520000,3500000.0,4.000000e+06
7,https://nayoo.co/khonkaen/posts/580,3850000,3500000.0,3.200000e+06
9,https://nayoo.co/khonkaen/posts/582,544000,1000000.0,8.000000e+05
...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1105000,1000000.0,1.200000e+06
236,https://nayoo.co/khonkaen/posts/18551,1440000,1500000.0,1.700000e+06
237,https://nayoo.co/khonkaen/posts/19434,2000000,1600000.0,1.900000e+06
238,https://nayoo.co/khonkaen/posts/19501,1790000,1600000.0,1.700000e+06
239,https://nayoo.co/khonkaen/posts/20367,1590000,1851562.5,1.839307e+06

In [394]:
check1 = list()
for row in townhome1.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check1

[1.4928571428571429,
 1.3357142857142856,
 1.3888888888888888,
 1.1,
 1.838235294117647,
 1.0263929618768328,
 1.0330578512396693,
 1.2820512820512822,
 1.3138888888888889,
 1.1363636363636365,
 1.1,
 1.144,
 1.0263157894736843,
 1.0083333333333333,
 1.0476190476190477,
 1.0666666666666667,
 1.0266666666666666,
 1.05,
 1.1,
 1.1560693641618498,
 1.1,
 1.322314049586777,
 1.048951048951049,
 1.1,
 1.12,
 1.1428571428571428,
 1.0666666666666667,
 1.069182389937107,
 1.1083333333333334,
 1.037037037037037,
 1.040909090909091,
 1.08,
 1.2222222222222223,
 1.0416666666666667,
 1.036,
 1.1538461538461537,
 1.1235955056179776,
 1.04,
 1.0502283105022832,
 1.079136690647482,
 1.02,
 1.0714285714285714,
 1.00625,
 1.3333333333333333,
 1.25,
 1.0416666666666667,
 1.2,
 1.0040160642570282,
 1.3320593525179856,
 1.0391304347826087,
 1.0681818181818181,
 1.0580357142857142,
 1.54296875,
 1.07,
 1.1827848101265823,
 1.125,
 6.257142857142857,
 1.0588235294117647,
 1.0526315789473684,
 1.1071428571428572,
 1.047486033519553,
 1.1363636363636365,
 1.045,
 1.09375,
 1.8416877637130802,
 1.3320593525179856,
 1.0580357142857142,
 1.0891544117647058,
 1.03125,
 1.103448275862069,
 1.08,
 1.037037037037037,
 1.0666666666666667,
 1.0580357142857142,
 1.1705882352941177,
 1.0535714285714286,
 1.2023133116883118,
 1.0740740740740742,
 1.2962025316455696,
 1.234375,
 1.7282700421940929,
 1.0588235294117647,
 1.1881856540084388,
 1.0,
 1.02,
 1.0186666666666666,
 1.6692307692307693,
 1.0333333333333334,
 1.234375,
 1.0891544117647058,
 1.1066666666666667,
 1.06875,
 1.0588235294117647,
 1.54296875,
 1.35,
 1.2285714285714286,
 1.5476190476190477,
 1.54296875,
 1.125,
 1.0084033613445378,
 1.037037037037037,
 1.1666666666666667,
 1.1572265625,
 1.1572265625,
 1.1495,
 1.1363636363636365,
 1.1818181818181819,
 1.0891544117647058,
 1.0050251256281406,
 1.0606060606060606,
 1.1,
 1.044932079414838,
 1.6832386363636365,
 1.3715277777777777,
 1.0178571428571428,
 1.105,
 1.0416666666666667,
 1.25,
 1.11875,
 1.164504716981132]

In [395]:
check2 = list()
for row in townhome1.iterrows():
    check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check2

[1.4354066985645932,
 1.6042780748663101,
 1.5873015873015872,
 1.203125,
 1.4705882352941178,
 1.065625,
 1.1,
 1.2820512820512822,
 1.1825,
 1.0620689655172413,
 1.1,
 1.144,
 1.0256410256410255,
 1.0371428571428571,
 1.1,
 1.0666666666666667,
 1.0266666666666666,
 1.05,
 1.0909090909090908,
 1.4450867052023122,
 1.1,
 1.0743801652892562,
 1.1916666666666667,
 1.03125,
 1.12,
 1.0294117647058822,
 1.0666666666666667,
 1.069182389937107,
 1.1083333333333334,
 1.037037037037037,
 1.0043668122270741,
 1.0,
 1.0,
 1.04,
 1.036,
 1.0833333333333333,
 1.0112359550561798,
 1.0,
 1.004566210045662,
 1.0692307692307692,
 1.0784313725490196,
 1.0714285714285714,
 1.00625,
 1.288888888888889,
 1.0,
 1.2083333333333333,
 1.0416666666666667,
 1.0826086956521739,
 1.3232423961820643,
 1.0391304347826087,
 1.0217391304347827,
 1.051032531824611,
 1.5327557755775576,
 1.1214953271028036,
 1.190665877159929,
 1.0,
 5.475,
 1.0,
 1.0,
 1.0333333333333334,
 1.047486033519553,
 1.0,
 1.045,
 1.0666666666666667,
 1.8539591968563278,
 1.3232423961820643,
 1.051032531824611,
 1.1333333333333333,
 1.0,
 1.103448275862069,
 1.08,
 1.125,
 1.0,
 1.051032531824611,
 1.0473684210526315,
 1.0925925925925926,
 1.1943551498006943,
 1.0740740740740742,
 1.0434782608695652,
 1.2262046204620463,
 1.7397857565807182,
 1.02,
 1.1961027076492436,
 1.1538461538461537,
 1.0196078431372548,
 1.0186666666666666,
 1.55,
 1.032258064516129,
 1.0666666666666667,
 1.0819452533488643,
 1.0240963855421688,
 1.0058823529411764,
 1.0,
 1.5327557755775576,
 1.08,
 1.075,
 1.1904761904761905,
 1.5327557755775576,
 1.1111111111111112,
 1.0084033613445378,
 1.037037037037037,
 1.0769230769230769,
 1.0666666666666667,
 1.1495668316831682,
 1.0947619047619048,
 1.4705882352941178,
 1.04,
 1.0819452533488643,
 1.1055276381909547,
 1.0153846153846153,
 1.0214285714285714,
 1.2539184952978057,
 1.672097209720972,
 1.1111111111111112,
 1.9,
 1.085972850678733,
 1.1805555555555556,
 1.0526315789473684,
 1.0529411764705883,
 1.1567968117566474]

In [396]:
townhome1['check1']=townhome1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)
townhome1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1
1,https://nayoo.co/khonkaen/posts/548,1045000,700000.0,1.500000e+06,1.492857
3,https://nayoo.co/khonkaen/posts/549,935000,700000.0,1.500000e+06,1.335714
5,https://nayoo.co/khonkaen/posts/579,2520000,3500000.0,4.000000e+06,1.388889
7,https://nayoo.co/khonkaen/posts/580,3850000,3500000.0,3.200000e+06,1.100000
9,https://nayoo.co/khonkaen/posts/582,544000,1000000.0,8.000000e+05,1.838235
...,...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1105000,1000000.0,1.200000e+06,1.105000
236,https://nayoo.co/khonkaen/posts/18551,1440000,1500000.0,1.700000e+06,1.041667
237,https://nayoo.co/khonkaen/posts/19434,2000000,1600000.0,1.900000e+06,1.250000
238,https://nayoo.co/khonkaen/posts/19501,1790000,1600000.0,1.700000e+06,1.118750
239,https://nayoo.co/khonkaen/posts/20367,1590000,1851562.5,1.839307e+06,1.164505

In [397]:
townhome1['check2']=townhome1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
townhome1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/548,1045000,700000.0,1.500000e+06,1.492857,1.435407
3,https://nayoo.co/khonkaen/posts/549,935000,700000.0,1.500000e+06,1.335714,1.604278
5,https://nayoo.co/khonkaen/posts/579,2520000,3500000.0,4.000000e+06,1.388889,1.587302
7,https://nayoo.co/khonkaen/posts/580,3850000,3500000.0,3.200000e+06,1.100000,1.203125
9,https://nayoo.co/khonkaen/posts/582,544000,1000000.0,8.000000e+05,1.838235,1.470588
...,...,...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1105000,1000000.0,1.200000e+06,1.105000,1.085973
236,https://nayoo.co/khonkaen/posts/18551,1440000,1500000.0,1.700000e+06,1.041667,1.180556
237,https://nayoo.co/khonkaen/posts/19434,2000000,1600000.0,1.900000e+06,1.250000,1.052632
238,https://nayoo.co/khonkaen/posts/19501,1790000,1600000.0,1.700000e+06,1.118750,1.052941
239,https://nayoo.co/khonkaen/posts/20367,1590000,1851562.5,1.839307e+06,1.164505,1.156797

In [398]:
townhome1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000,350000.0,4.000000e+05,6.257143,5.475000
184,https://nayoo.co/khonkaen/posts/6164,3410000,1851562.5,1.839307e+06,1.841688,1.853959
9,https://nayoo.co/khonkaen/posts/582,544000,1000000.0,8.000000e+05,1.838235,1.470588
200,https://nayoo.co/khonkaen/posts/13411,3200000,1851562.5,1.839307e+06,1.728270,1.739786
232,https://nayoo.co/khonkaen/posts/18078,1100000,1851562.5,1.839307e+06,1.683239,1.672097
...,...,...,...,...,...,...
133,https://nayoo.co/khonkaen/posts/642,3630000,3600000.0,3.500000e+06,1.008333,1.037143
162,https://nayoo.co/khonkaen/posts/2242,1610000,1600000.0,1.600000e+06,1.006250,1.006250
228,https://nayoo.co/khonkaen/posts/17923,1990000,2000000.0,2.200000e+06,1.005025,1.105528
167,https://nayoo.co/khonkaen/posts/2829,2490000,2500000.0,2.300000e+06,1.004016,1.082609
203,https://nayoo.co/khonkaen/posts/17503,1500000,1500000.0,1.300000e+06,1.000000,1.153846

In [399]:
townhome1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000,350000.0,4.000000e+05,6.257143,5.475000
234,https://nayoo.co/khonkaen/posts/18090,2850000,2800000.0,1.500000e+06,1.017857,1.900000
184,https://nayoo.co/khonkaen/posts/6164,3410000,1851562.5,1.839307e+06,1.841688,1.853959
200,https://nayoo.co/khonkaen/posts/13411,3200000,1851562.5,1.839307e+06,1.728270,1.739786
232,https://nayoo.co/khonkaen/posts/18078,1100000,1851562.5,1.839307e+06,1.683239,1.672097
...,...,...,...,...,...,...
164,https://nayoo.co/khonkaen/posts/2248,1200000,1500000.0,1.200000e+06,1.250000,1.000000
157,https://nayoo.co/khonkaen/posts/2185,2600000,2500000.0,2.600000e+06,1.040000,1.000000
188,https://nayoo.co/khonkaen/posts/8101,3200000,3300000.0,3.200000e+06,1.031250,1.000000
192,https://nayoo.co/khonkaen/posts/8388,1500000,1600000.0,1.500000e+06,1.066667,1.000000
151,https://nayoo.co/khonkaen/posts/1978,2500000,2700000.0,2.500000e+06,1.080000,1.000000

# อาคารพาณิชย์/สำนักงาน

In [400]:
commercial1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2
1,https://nayoo.co/khonkaen/posts/6,6600000,6.000000e+06,8.000000e+06
3,https://nayoo.co/khonkaen/posts/17,11400000,1.200000e+07,1.200000e+07
5,https://nayoo.co/khonkaen/posts/21,22500000,1.350000e+07,2.000000e+07
7,https://nayoo.co/khonkaen/posts/22,3500000,4.000000e+06,4.000000e+06
9,https://nayoo.co/khonkaen/posts/24,3900000,2.200000e+06,3.000000e+06
...,...,...,...,...
191,https://nayoo.co/khonkaen/posts/7137,3900000,3.600000e+06,4.000000e+06
193,https://nayoo.co/khonkaen/posts/7138,4500000,2.300000e+06,4.751807e+06
195,https://nayoo.co/khonkaen/posts/7439,6900000,3.300000e+06,4.751807e+06
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,4.751807e+06
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,4.751807e+06

In [401]:
check1 = list()
for row in commercial1.iterrows():
  check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check1

[1.1,
 1.0526315789473684,
 1.6666666666666667,
 1.1428571428571428,
 1.7727272727272727,
 1.3333333333333333,
 1.0869565217391304,
 1.105263157894737,
 1.0,
 1.075,
 1.0330578512396693,
 1.1,
 1.0101010101010102,
 1.1,
 1.1611111111111112,
 1.2833333333333334,
 1.2999411764705882,
 1.023391812865497,
 1.0256410256410255,
 1.0048076923076923,
 1.083076923076923,
 1.1,
 1.02880658436214,
 1.0227272727272727,
 1.3095238095238095,
 1.2839506172839505,
 1.0153846153846153,
 1.0227272727272727,
 1.1366666666666667,
 1.3046595275333985,
 1.0643275093035618,
 1.0371401902109394,
 1.0,
 1.120625,
 1.0671936758893281,
 1.0266666666666666,
 1.034,
 1.0421052631578946,
 1.0476190476190477,
 1.0214285714285714,
 1.4025974025974026,
 1.0526315789473684,
 1.1511627906976745,
 1.5172413793103448,
 1.1363636363636365,
 1.064516129032258,
 1.0643275093035618,
 1.04875,
 1.3333333333333333,
 1.0833333333333333,
 1.08,
 1.1176470588235294,
 1.0285714285714285,
 1.3333333333333333,
 1.0294117647058822,
 1.24999975,
 1.15,
 1.4610389281984257,
 1.5509490160875596,
 1.1764705882352942,
 1.25,
 1.0476190476190477,
 1.25,
 1.3157894736842106,
 1.2072434607645874,
 1.2953367875647668,
 1.09375,
 1.0483870967741935,
 1.0666666666666667,
 1.0666666666666667,
 1.0714285714285714,
 1.1343283582089552,
 1.1666666666666667,
 1.0576923076923077,
 1.04,
 1.03125,
 1.1111111111111112,
 1.050377358490566,
 1.05,
 1.6071428210182683,
 1.0,
 1.2,
 1.098901098901099,
 1.0643275093035618,
 1.5625,
 1.08359133126935,
 1.1,
 1.1111111111111112,
 2.0222222676767676,
 1.0416666666666667,
 1.2039903680770554,
 1.1312217194570136,
 1.013421052631579,
 1.3046595275333985,
 1.1363636363636365,
 1.0833333333333333,
 1.9565217391304348,
 2.090909090909091,
 8.0,
 2.0222222676767676]

In [402]:
check2 = list()
for row in commercial1.iterrows():
  check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน2']))
check2

[1.2121212121212122,
 1.0526315789473684,
 1.125,
 1.1428571428571428,
 1.3,
 1.2,
 1.0952380952380953,
 1.1904761904761905,
 1.1428571428571428,
 1.1627906976744187,
 1.0330578512396693,
 1.134375,
 1.1,
 1.0576923076923077,
 1.0047846889952152,
 1.2833333333333334,
 1.0860219919453369,
 1.023391812865497,
 1.0256410256410255,
 1.1117021276595744,
 1.0057142857142858,
 1.2222222222222223,
 1.02880658436214,
 1.1733333333333333,
 1.3888888888888888,
 1.0125,
 1.32,
 1.0227272727272727,
 1.0263929618768328,
 1.3934918559869978,
 1.1367959877788667,
 1.21,
 1.1,
 1.0245714285714285,
 1.0671936758893281,
 1.0266666666666666,
 1.175,
 1.0606060606060606,
 1.0227272727272727,
 1.0214285714285714,
 1.0389610389610389,
 1.0526315789473684,
 1.0101010101010102,
 2.206896551724138,
 1.0389610389610389,
 1.1,
 1.1367959877788667,
 1.7656440162271805,
 1.26714859437751,
 1.0833333333333333,
 1.0,
 1.0526315789473684,
 1.09375,
 1.0,
 1.0,
 1.00000020000004,
 1.0144927536231885,
 1.3,
 1.452079107505071,
 1.1764705882352942,
 1.0,
 1.05,
 1.0795454545454546,
 1.0,
 1.1670020120724347,
 1.0157894736842106,
 1.0666666666666667,
 1.015625,
 1.09375,
 1.0666666666666667,
 1.0,
 1.046875,
 1.25,
 1.04,
 1.1142857142857143,
 1.4399415845198977,
 1.0285714285714285,
 1.1715542596348885,
 1.1313826735513481,
 1.5046906693711968,
 2.0,
 2.2222222222222223,
 1.098901098901099,
 1.1367959877788667,
 1.3392857142857142,
 1.009375,
 1.1,
 1.1111111111111112,
 1.0,
 1.1111111111111112,
 1.1007911936704506,
 1.0180995475113122,
 1.038691249026227,
 1.3934918559869978,
 2.1599123767798467,
 1.0256410256410255,
 1.0559571619812584,
 1.452079107505071,
 2.5253549695740367,
 2.1599123767798467]

In [403]:
commercial1['check1']=commercial1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)
commercial1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1
1,https://nayoo.co/khonkaen/posts/6,6600000,6.000000e+06,8.000000e+06,1.100000
3,https://nayoo.co/khonkaen/posts/17,11400000,1.200000e+07,1.200000e+07,1.052632
5,https://nayoo.co/khonkaen/posts/21,22500000,1.350000e+07,2.000000e+07,1.666667
7,https://nayoo.co/khonkaen/posts/22,3500000,4.000000e+06,4.000000e+06,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000,2.200000e+06,3.000000e+06,1.772727
...,...,...,...,...,...
191,https://nayoo.co/khonkaen/posts/7137,3900000,3.600000e+06,4.000000e+06,1.083333
193,https://nayoo.co/khonkaen/posts/7138,4500000,2.300000e+06,4.751807e+06,1.956522
195,https://nayoo.co/khonkaen/posts/7439,6900000,3.300000e+06,4.751807e+06,2.090909
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,4.751807e+06,8.000000
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,4.751807e+06,2.022222

In [404]:
commercial1['check2']=commercial1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
commercial1

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/6,6600000,6.000000e+06,8.000000e+06,1.100000,1.212121
3,https://nayoo.co/khonkaen/posts/17,11400000,1.200000e+07,1.200000e+07,1.052632,1.052632
5,https://nayoo.co/khonkaen/posts/21,22500000,1.350000e+07,2.000000e+07,1.666667,1.125000
7,https://nayoo.co/khonkaen/posts/22,3500000,4.000000e+06,4.000000e+06,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000,2.200000e+06,3.000000e+06,1.772727,1.300000
...,...,...,...,...,...,...
191,https://nayoo.co/khonkaen/posts/7137,3900000,3.600000e+06,4.000000e+06,1.083333,1.025641
193,https://nayoo.co/khonkaen/posts/7138,4500000,2.300000e+06,4.751807e+06,1.956522,1.055957
195,https://nayoo.co/khonkaen/posts/7439,6900000,3.300000e+06,4.751807e+06,2.090909,1.452079
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,4.751807e+06,8.000000,2.525355
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,4.751807e+06,2.022222,2.159912

In [405]:
commercial1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,4.751807e+06,8.000000,2.525355
195,https://nayoo.co/khonkaen/posts/7439,6900000,3.300000e+06,4.751807e+06,2.090909,1.452079
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,4.751807e+06,2.022222,2.159912
177,https://nayoo.co/khonkaen/posts/6123,2200000,4.448889e+06,2.200000e+06,2.022222,1.000000
193,https://nayoo.co/khonkaen/posts/7138,4500000,2.300000e+06,4.751807e+06,1.956522,1.055957
...,...,...,...,...,...,...
25,https://nayoo.co/khonkaen/posts/553,2970000,3.000000e+06,2.700000e+06,1.010101,1.100000
39,https://nayoo.co/khonkaen/posts/575,5225000,5.200000e+06,4.700000e+06,1.004808,1.111702
65,https://nayoo.co/khonkaen/posts/651,2200000,2.200000e+06,2.000000e+06,1.000000,1.100000
161,https://nayoo.co/khonkaen/posts/5995,3000000,3.000000e+06,6.000000e+06,1.000000,2.000000
17,https://nayoo.co/khonkaen/posts/498,7000000,7.000000e+06,8.000000e+06,1.000000,1.142857

In [406]:
commercial1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมิน1,ประเมิน2,check1,check2
197,https://nayoo.co/khonkaen/posts/7668,12000000,1.500000e+06,4.751807e+06,8.000000,2.525355
163,https://nayoo.co/khonkaen/posts/6009,2250000,2.700000e+06,5.000000e+06,1.200000,2.222222
87,https://nayoo.co/khonkaen/posts/707,1450000,2.200000e+06,3.200000e+06,1.517241,2.206897
199,https://nayoo.co/khonkaen/posts/7705,2200000,4.448889e+06,4.751807e+06,2.022222,2.159912
189,https://nayoo.co/khonkaen/posts/6354,2200000,2.500000e+06,4.751807e+06,1.136364,2.159912
...,...,...,...,...,...,...
109,https://nayoo.co/khonkaen/posts/1885,3500000,3.400000e+06,3.500000e+06,1.029412,1.000000
121,https://nayoo.co/khonkaen/posts/2180,5000000,4.000000e+06,5.000000e+06,1.250000,1.000000
141,https://nayoo.co/khonkaen/posts/3243,14000000,1.500000e+07,1.400000e+07,1.071429,1.000000
127,https://nayoo.co/khonkaen/posts/2247,1900000,2.500000e+06,1.900000e+06,1.315789,1.000000
101,https://nayoo.co/khonkaen/posts/1614,2500000,2.700000e+06,2.500000e+06,1.080000,1.000000

# HW2 แก้ไข ข้อมูลแล้วคำนวณ MAPE ใหม่อีกรอบมาเทียบกัน

In [407]:
link = 'https://docs.google.com/spreadsheets/d/1xOUyJLF4NZTDkYCDTIj5bCuumi6d5ZnQT7-e7LpEe4o/export?format=xlsx'
link2 = 'https://docs.google.com/spreadsheets/d/16T7fGzEHtsY-qEb5JikQyNkL57EzuRChAUIFY6iQ0RI/export?format=xlsx'

# บ้าน

In [408]:
#ก่อน
house = pd.read_excel(link,sheet_name='บ้าน')
id1 = house[house['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = house[house['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 14.50%
นักประเมิน คนที่ 2 = 11.14%

In [409]:
#หลัง
house2 = pd.read_excel(link2,sheet_name='บ้าน')
id1 = house2[house2['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = house2[house2['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 11.67%
นักประเมิน คนที่ 2 = 9.08%

# ที่ดิน

In [410]:
#ก่อน
land = pd.read_excel(link,sheet_name='ที่ดิน')
id1 = land[land['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = land[land['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 79.74%
นักประเมิน คนที่ 2 = 43.70%

In [411]:
#หลัง
land2 = pd.read_excel(link2,sheet_name='ที่ดิน')
id1 = land2[land2['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = land2[land2['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id12MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id22MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id12MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id22MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 44.82%
นักประเมิน คนที่ 2 = 19.78%

# คอนโด

In [412]:
#คอนโดไม่ต้องแก้ไขเพราะมีคนประเมินคนเดียว
condo = pd.read_excel(link2,sheet_name='คอนโด')
id1 = condo[condo['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 18.36%

# ทาวน์โฮม

In [413]:
#ก่อน
townhome = pd.read_excel(link,sheet_name='ทาวน์โฮม')
id1 = townhome[townhome['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = townhome[townhome['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 15.26%
นักประเมิน คนที่ 2 = 12.20%

In [414]:
#หลัง
townhome2 = pd.read_excel(link2,sheet_name='ทาวน์โฮม')
id1 = townhome2[townhome2['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = townhome2[townhome2['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 11.19%
นักประเมิน คนที่ 2 = 8.85%

# อาคารพาณิชย์/สำนักงาน

In [415]:
#ก่อน
commercial = pd.read_excel(link,sheet_name='อาคารพาณิชย์')
id1 = commercial[commercial['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = commercial[commercial['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nอาคารพาณิชย์\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
อาคารพาณิชย์
นักประเมิน คนที่ 1 = 20.25%
นักประเมิน คนที่ 2 = 9.49%

In [416]:
#หลัง
commercial2 = pd.read_excel(link2,sheet_name='อาคารพาณิชย์')
id1 = commercial2[commercial2['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = commercial2[commercial2['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = mape(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = mape(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nอาคารพาณิชย์\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
อาคารพาณิชย์
นักประเมิน คนที่ 1 = 13.45%
นักประเมิน คนที่ 2 = 9.49%

# Load ตารางจาก google sheet

In [417]:
sheet_id = '1xOUyJLF4NZTDkYCDTIj5bCuumi6d5ZnQT7-e7LpEe4o'
sheet_name = 'Land'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [418]:
temp = pd.read_csv(url)
temp

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [419]:
link = 'https://docs.google.com/spreadsheets/d/1xOUyJLF4NZTDkYCDTIj5bCuumi6d5ZnQT7-e7LpEe4o/export?format=xlsx'
house = pd.read_excel(link,sheet_name='บ้าน')
land = pd.read_excel(link,sheet_name='ที่ดิน')
condo = pd.read_excel(link,sheet_name='คอนโด')
townhome = pd.read_excel(link,sheet_name='ทาวน์โฮม')
commercial = pd.read_excel(link,sheet_name='อาคารพาณิชย์')

# HW3 visualize แสดงความสัมพันธ์ ราคา(ตั้งขายและประเมิน)-ความมั่นใจ-ให้คะแนนทรัพย์